body {
    width: 100%;
    height: auto;
}

.bar {
    background-color: #0f0f0f;
}

.container-fluid {
    padding: 0;
}

#logo {
    padding: 5%;
}

.nav {
    font-size: 18px;
    margin-bottom: 5%;
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
}

.container-fluid {
    background-color: #0099FF;
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    /*Get these to work*/
}

.nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 0;
}


li > a {
    color: black;
    border-bottom: 1px solid black;
}

li > a:hover {
    color: black;
}